@rainspace weather;
@import url('include.css');

body {
	font-family: Verdana,Arial, sans-serif;
}

.content {
	background-image:url('../weather.png');	
	background-repeat:no-repeat;
	height:200px;
}

#translationInfo {
	display: none;
	position: absolute;
	border: 2px dashed #F00;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	background: #FFF;
	padding: 5px;
}

.reeeeeed {
	color : #F00;
}