widget{
	display: inline-block;
	background-color: #CCC;
	width: 300px;
	height: 300px;
	overflow: auto;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding-left: 10px;
	padding-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
}